```{=html}
<% for (const item of items) { %>
    <div class="card mb-3">
        <div class="grid card-body">
            <div class="g-col-12 g-col-md-3 d-flex justify-content-center align-items-center">
                <img class="rounded" style="max-width: 10rem; height: auto" src="publications/<%- item.id %>/thumbnail" alt="">
            </div>
            <div class="g-col-12 g-col-md-9">
                <h5 class="card-title">
                    <%= item.title %>
                </h5>
                <%= item.authors %>
                <br>
                <small class="text-muted"><%= item.journal %> <%= item.year %> </small>
                <br>
                <a class="btn btn-light btn-sm stretched-link" href='<%= item.link %>'">
                    paper
                </a>
                <a class="btn btn-light btn-sm" style="position: relative; z-index: 2;" href='<%= item.code %>'">
                    code
                </a>
                <% if (typeof item.blog !== 'undefined') { %>
                    <a class="btn btn-light btn-sm" style="position: relative; z-index: 2;" href="<%= item.blog %>">
                        blog
                    </a>
                <% } %>
                <% if (typeof item.slides !== 'undefined') { %>
                    <a class="btn btn-light btn-sm" style="position: relative; z-index: 2;" href="<%= item.slides %>" target="_blank">
                        slides
                    </a>
                <% } %>
                <a class="btn btn-light btn-sm" style="position: relative; z-index: 2;" href="/publications/<%= item.id %>/bibtex.bib">
                    bibtex
                </a>
            </div>
        </div>
    </div>
<% } %>
```